.blanc { background-color: #f5f5f5; }
.blanc .lien { background-color: #999999; }
.rose { background-color: #FA8A7E; }
.rose .lien { background-color: #F8504D; }
.mauve { background-color: #B483FF; }
.mauve .lien {background-color: #7F53C6; }
.bleu { background-color: #B7F6C9; }
.bleu .lien { background-color: #35EAB5; }
.jaune { background-color: #FBFF86; }
.jaune .lien { background-color: #FBED1A; }
.bleuf { background-color: #7EFEFF; }
.bleuf .lien {background-color: #3EA8F6; }
