html {
  background-color: black;
}

body{
  background-color: black;
  color: white;
}

span {
  text-align: right;
}

p {
  padding: 20px;
}

h1 {
  font-size: 1.6em;
}

.header-page {
  display:flex;
  background-color: #37BBD2;
  padding: 20px;
}

.title-text {
    margin: auto;
    margin-left: 5%;
    width: 80%;
}

.title-image {
  width: 60px;
}

.points {
  margin: auto;
  margin-right: 3%;
  width: 20%;
  padding-right: 20px;
}

.lien {
  position: absolute;
  bottom: 0px;
  left: 0px;
  background-color: grey;
  color: black;
  background-clip: content-box;
  opacity: 25%;
  position: absolute;
  bottom: 0px;
  left: 0px;
  width: 100%;
  height: 60px;
  font-weight: 600;
  font-size: 1.1em;
  margin: 0;
  text-align: left;
}

.lien:hover {
  color: white;
  text-decoration: none;
}

.fleche {
  position: absolute;
  color: black;
  opacity: 25%;
  position: absolute;
  bottom: 0px;
  right: 0px;
  width: 100%;
  height: 60px;
  font-weight: 600;
  font-size: 1.1em;
  margin: 0;
  text-align: right;
  padding: 20px;
}

.fleche:hover {
  color: white;
  text-decoration: none;
}

.inverse {
  color: white;
}

.inverse:hover {
  color: black;
}

.image {
  margin: auto;
}

.petit {
  position: relative;
  display: flex;
  width: 50%;
  height: 250px;
  text-align: center;
  vertical-align: middle;
  padding-bottom: 60px;
  margin: auto;
  border: 2px solid black;
}

.grand {
  position: relative;
  display: flex;
  width: 100%;
  height: 500px;
  text-align: center;
  vertical-align: middle;
  padding-bottom: 60px;
  margin: auto;
  border: 2px solid black;

}

.long{
  position: relative;
  display: flex;
  width: 100%;
  height: 250px;
  text-align: center;
  vertical-align: middle;
  padding-bottom: 60px;
  margin: auto;
  border: 2px solid black;
}
